{{#*inline "page" }}
<div class="row">
  <div class="col">
    <p>This is a project started by Nick Gerakines and Mattie Carter. Quite simply, it is an easy-to navigate recipe index.</p>
    <p>This website is <strong>open source</strong> and can be copied, modified, and distributed. Learn more at <a href="https://github.com/ngerakines/just-recipes-blog">https://github.com/ngerakines/just-recipes-blog</a>.</p>
  </div>
</div>
{{/inline}}
{{> root show_search=false locale="en_US" }}