{{#*inline "page" }}
<div class="row">
  <div class="col">
    <p>A recipe website.</p>
    <p>This website is <strong>open source</strong> and can be copied, modified, and distributed. Learn more at <a href="https://github.com/ngerakines/just-recipes-blog">https://github.com/ngerakines/just-recipes-blog</a>.</p>
  </div>
</div>
{{/inline}}
{{> root locale="en_US" show_nav=false }}