{{#*inline "page" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
{{#each recipes as |recipe| ~}}
        {{#if (gt @index 0) }},{{/if}}{
          "@type": "ListItem",
          "position": {{ incr @index }},
          "url": "/{{ ../locale }}/{{ locale-helper recipe.slug ../locale }}"
        }
{{/each ~}}
      ]
    }
    </script>

<ul>
    {{#each recipes as |recipe| ~}}
    <li>
        {{>recipe_link locale=../locale}}
    </li>
    {{/each ~}}
</ul>
{{/inline}}
{{> root show_search=true }}