{{#*inline "page" }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
{{#each recipes as |recipe| ~}}
        {{#if (gt @index 0) }},{{/if}}{
          "@type": "ListItem",
          "position": {{ incr @index }},
          "url": "{{ url ../locale (locale-helper recipe.slug ../locale) }}"
        }
{{/each ~}}
      ]
    }
    </script>

<ul>
    {{#each recipes as |recipe| ~}}
    <li>
        <a href="{{ url ../locale (locale-helper recipe.slug ../locale) }}">{{ locale-helper recipe.name locale }}</a>
    </li>
    {{/each ~}}
</ul>
{{/inline}}
{{> root show_search=true }}